extends layout

block content
  h1= title
  p ようこそ、#[em LocalLibrary] へ。これは Mozilla Developer Network のチュートリアル例として開発された、非常に基本的な Express ウェブサイトです。

  h1 データベースの統計

  p 現在のライブラリには以下の記録があります:

  ul
    li #[strong 書籍数:] !{book_count}
    li #[strong 蔵書インスタンス数:] !{book_instance_count}
    li #[strong 貸出可能な蔵書:] !{book_instance_available_count}
    li #[strong 著者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}
